{% if section.media_alignment and section.media_alignment == "Left" %}
{% include block-feature-2.html %}
{% else %}
<section class="block block-two-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2><span class="light">{{ section.headline }}</span></h2>
        {{ section.content }}
      </div>
      <div class="column">
        <form>
          <div class="form-group">

            <label for="team-members">Our team has <span id="team-members-label-result"></span>.</label>
            <input id="team-members" type="range" name="team-members" class="calc-input form-control-range" min="1"
              max="20" value="10" />

          </div>
          <div class="form-group">
            <label for="salary">We have an average salary of <span id="average-salary-label-result"></span>.</label>
            <input id="salary" type="range" name="salary" min="50000" max="200000" step="10000" value="100000" class="calc-input form-control" />

          </div>
          <div class="form-group">
            <label for="productivityPercent">We're ready for a <span id="productivity-gained-label-result"></span>% gain in productivity.</label>
            <input id="productivityPercent" type="range" name="productivityPercent" min="10" max="100" step="1" value="10" class="calc-input form-control" />
          </div>
        </form>
        <div>
          <div id="calc-result">0</div>
          <div>in productivity gained over three years.</div>

        </div>

        <script>
          (function () {

            var teamMembersInput = document.getElementById("team-members");
            var salaryInput = document.getElementById("salary");
            var productivityPercentInput = document.getElementById("productivityPercent");
            var calcResult = document.getElementById("calc-result");
          
            //Initial run
            runCalculation();

            document.querySelectorAll(".calc-input").forEach(input => {

              input.addEventListener('input', (event) => {
                runCalculation();
              });

            });

            function runCalculation() {
              setTeamMembers(teamMembersInput);
              setAverageSalary(salaryInput);
              setProductivityPercent(productivityPercentInput);
              calcResult.innerHTML = calculateAndFormatResult();
            }

            function calculateAndFormatResult() {
              var result = calculateResult();
              var formattedResult = formatResult(result);
              console.log("Formatted and calculated result.", formattedResult);
              return formattedResult;
            }

            function calculateResult() {
              var developer = teamMembersInput.value;
              var salary = salaryInput.value;
              var percentSaved = productivityPercentInput.value;
              var calculationResult = (developer * salary * (percentSaved / 100) * 3);

              return calculationResult;
            }

            function formatResult(number) {
              // Create our number formatter.
              var formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD'
              });

              var formattedResult = formatter.format(number);
              return formattedResult;
            }

            function setTeamMembers(membersInput) {
              var teamMembersResult = document.getElementById("team-members-label-result");
              var membersCount = membersInput.value;
              if (membersCount && membersCount == 1) {
                teamMembersResult.innerHTML = membersCount + " member";
              }
              else if (membersCount && membersCount > 1) {
                teamMembersResult.innerHTML = membersCount + " members";
              }
            }

            function setAverageSalary(salaryInput) {
              var averageSalaryResult = document.getElementById("average-salary-label-result");
              var averageSalary = salaryInput.value || 0;
              averageSalaryResult.innerHTML = formatResult(averageSalary);
            }

            function setProductivityPercent(productivityPercentInput) {
              var productivityPercentResult = document.getElementById("productivity-gained-label-result");
              var productivityPercent = productivityPercentInput.value || 0;
              productivityPercentResult.innerHTML = productivityPercent;
            }

          })();
        </script>

      </div>
    </div>
  </div>
</section>
{% endif %}