---
sitemap: false
---

// Partials
@import "variables";
@import "block";
@import "form";
@import "button";

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}

.block-feature-1 {
  background: #ffcb3c;
  color: #fff;

  p {
    color: #fff;
  }
}

.interior-list {
  h3 {
    padding-top: 15px;
  }
}

.block-feature-1,
.block-feature-2 {
  p {
    margin: 1rem 0 2rem;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  li {
    font-weight: 400;
    color: #666;
    padding: 0.25rem 0;

    &:before {
      content: "» ";
    }
  }
}

iframe {
  overflow: hidden !important;
  min-width: 320px !important;
  height: 580px !important;
}
