---
sitemap: false
---

// Partials
@import "variables";
@import "block";

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}

.block-feature-1 {
  background: #ffcb3c;
  color: #fff;

  p {
    color: #fff;
  }
}

.interior-list {
  h3 {
    padding-top: 15px;
  }
}
